@define-color background-modules rgba(0, 0, 0, 0.2);
@define-color text-color #FFFFFF;
@define-color workspace-hover rgba(255, 255, 255, 0.2);

/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */

* {
    font-family: "Fira Sans Semibold", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    border: none;
    border-radius: 0px;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
}

/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */

#workspaces {
    margin: 5px 1px 6px 1px;
    padding: 0px 1px;
    border-radius: 15px;
    border: 0px;
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
    color: @text-color;
}

#workspaces button {
    padding: 0px 5px;
    margin: 4px 3px;
    border-radius: 15px;
    border: 0px;
    color: @text-color;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    color: @text-color;
    background: @workspace-hover;
    border-radius: 15px;
    min-width: 40px;
    transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
    color: @text-color;
    background: @workspace-hover;
    border-radius: 15px;
}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
    border-radius: 10px;
    background-color: @text-color;
    opacity:0.8;
    padding:20px;
    margin:0px;
}

tooltip label {
    color: @background-modules;
}

/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */

#window {
    background: @background-modules;
    margin: 10px 15px 10px 0px;
    padding: 2px 10px 0px 10px;
    border-radius: 12px;
    color:@text-color;
    font-size:16px;
    font-weight:normal;
}

window#waybar.empty #window {
    background-color:transparent;
}

/* -----------------------------------------------------
 * Taskbar
 * ----------------------------------------------------- */

#taskbar {
    background: @background-modules;
    margin: 6px 15px 6px 0px;
    padding:0px;
    border-radius: 15px;
    font-weight: normal;
    font-style: normal;
    border: 3px solid @background-modules;
}

#taskbar button {
    margin:0;
    border-radius: 15px;
    padding: 0px 5px 0px 5px;
}

/* -----------------------------------------------------
 * Modules
 * ----------------------------------------------------- */

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

/* -----------------------------------------------------
 * Custom Quicklinks
 * ----------------------------------------------------- */

#custom-browser, 
#custom-filemanager,
#network,
#pulseaudio,
#battery,
#custom-appmenu,
#clock {
    margin-right: 20px;
    font-size: 24px;
    font-weight: bold;
    color: @text-color;
    padding: 4px 10px 2px 10px;
}

#custom-quicklink1,
#custom-quicklink2,
#custom-quicklink3,
#custom-quicklink4,
#custom-quicklink5,
#custom-quicklink6,
#custom-quicklink7,
#custom-quicklink8,
#custom-quicklink9,
#custom-quicklink10 {
    padding:0px;
    margin-right: 7px;
    font-size:20px;
    color: @text-color;
}

/* -----------------------------------------------------
 * Custom Modules
 * ----------------------------------------------------- */

#custom-appmenu {
    background-color: @background-modules;
    color: @text-color;
    border-radius: 15px;
    margin: 10px 10px 10px 10px;
}

/* -----------------------------------------------------
 * Custom Exit
 * ----------------------------------------------------- */

#custom-exit {
    margin: 2px 20px 0px 0px;
    padding:0px;
    font-size:20px;
    color: @text-color;
}

/* -----------------------------------------------------
 * Hardware Group
 * ----------------------------------------------------- */

 #disk,#memory,#cpu,#language {
    background-color: @background-modules;
    margin:10px 7px 10px 0px;
    padding:0px;
    font-size:16px;
    border-radius: 15px;
    color:@text-color;
}

#language {
    margin-right:10px;
}

/* -----------------------------------------------------
 * Clock
 * ----------------------------------------------------- */

#clock {
    background-color: @background-modules;
    font-size: 21px;
    color: @text-color;
    border-radius: 15px;
    margin: 10px 7px 10px 0px;
}

/* -----------------------------------------------------
 * Pulseaudio
 * ----------------------------------------------------- */

#pulseaudio {
    background-color: @background-modules;
    font-size: 16px;
    color: @text-color;
    border-radius: 15px;
    margin: 10px 10px 10px 0px;
}

#pulseaudio.muted {
    background-color: @background-modules;
    color: @text-color;
}

/* -----------------------------------------------------
 * Network
 * ----------------------------------------------------- */

#network {
    background-color: @background-modules;
    font-size: 16px;
    color: @text-color;
    border-radius: 15px;
    margin: 10px 10px 10px 0px;
}

#network.ethernet {
    background-color: @background-modules;
    color: @text-color;
}

#network.wifi {
    background-color: @background-modules;
    color: @text-color;
}

/* -----------------------------------------------------
 * Bluetooth
 * ----------------------------------------------------- */

 #bluetooth, #bluetooth.on, #bluetooth.connected {
    background-color: @background-modules;
    font-size: 16px;
    color: @text-color;
    border-radius: 15px;
    margin: 10px 15px 10px 0px;
}

#bluetooth.off {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}

/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */

#battery {
    background-color: @background-modules;
    font-size: 16px;
    color: @text-color;
    border-radius: 15px;
    margin: 10px 15px 10px 0px;
}

#battery.charging, #battery.plugged {
    color: @text-color;
    background-color: @background-modules;
}

@keyframes blink {
    to {
        background-color: @background-modules;
        color: @text-color;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: @text-color;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* -----------------------------------------------------
 * Tray
 * ----------------------------------------------------- */

#tray {
    margin:0px 10px 0px 0px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

/* -----------------------------------------------------
 * Other
 * ----------------------------------------------------- */

label:focus {
    background-color: #000000;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    background-color: #2980b9;
}

#network.disconnected {
    background-color: #f53c3c;
}

